<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Last signed in</th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.last_sign_in_at %></td>
    </tr>
  <% end %>
</table>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}