<h4 style="color:blue">Rules for test</h4><hr>
<p>* You will have to complete the test in the given time.</p>
<p>* Complete this test in single attempt.</p>
<p>* You have <%= @test_question.no_of_question %> questions.</p>
<p>* You have <%= @test_question.no_of_question %> minutes to complete this test.</p>
<p>* Each Question will carry 1 marks.</p>
<p>* There is no negative marking for the questions.</p>
<p>* You will have to on your camera during the test.</p>
<p>* During test you have to focus on the screen if your focus will be distracted then will be disqualified from the test. </p>