<h4 style="color:blue">What we get</h4><hr>
<p>* You will have to complete the test in the given time.</p>
<p>* If you will complete the test in given time then and achieve marks with equal to passing marks then you will be awarded a certificate.</p>
<p>* You can start the test anytime within 24 hours.</p>