// Custom bootstrap variables must be set or imported *before* bootstrap.
//@import 'bootstrap-custom';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
    main {
      flex: 1 0 auto;
      background-color: #e3f2fd;
    }
  
  .navbar {
      
      font-size: 20px;
     
      
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }